<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
  <div class="login-box">
    <div class="login-header">
      <h2>Login to Your Account</h2>
    </div>
    <form th:action="@{/login}" th:object="${user}" method="post">
      <div class="input-group">
        <label>Username</label>
        <input type="email" th:field="*{username}" required>
      </div>
      <div class="input-group">
        <label>Password</label>
        <input type="password" th:field="*{password}" required>
      </div>
      <div class="error-message" th:text="${error}"></div>
      <button type="submit" class="btn">Login</button>
    </form>
    <p class="register">
      <a th:href="@{/register}">Don't have account? Register</a>
    </p>

    <div>
      <p>Defauft user: user@gmail.com</p>
      <p>Defauft pass: 123456</p>
    </div>
  </div>

</div>
</body>
</html>
